# data types

In [4]:
x=12
type(x)

int

In [2]:
y=12.3
type(y)

float

In [5]:
x=1+2j
type(x)

complex

In [12]:
x=12
a=float(x)
print(type(a))
a

<class 'float'>

12.0

In [10]:
x=12.4
b=int(x)
b

12

In [15]:
#operators
x=28+2.3
print(x)
type(x)

30.3

float

In [17]:
a=35
b=4.8
sum=a+int(b)
print(sum)

39

In [43]:
#unary opeartors
x=55
print(-x)
print(+x)
print(~x)
#Arthematic operators
print("Arithmatic operators")
x=20
y=4
print("x+y=",x+y)
print("x-y=",x-y)
print("x*y=",x*y)
print("x/y=",x/y)
print("x//y=",x//y)
print("x%y=",x%y)
print("x**y=",x**y)
#comparison operators
print("comparison operators")
a=10
b=20
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

-55
55
-56
Arithmatic operators
x+y= 24
x-y= 16
x*y= 80
x/y= 5.0
x//y= 5
x%y= 0
x**y= 160000
comparison operators
True
False
True
False
False
True

In [50]:
#bitwise operators 
print("bitwise operators")
p=10
q=3
r=10
print("p&q=",p&q)
print("p|q=",p|q)
print("~p=",~p)
#logical operators
x=(45==6)
y=(6>4)
a=x and y
b=x or y
c=not x
d=not y
print(a)
print(b)
print(c)
print(d)

bitwise operators
p&q= 2
p|q= 11
~p= -11
False
True
True
False

In [65]:
#expressions
a=5+8+9*(3-1)
print(a)
b=(20/5)-3+8*5
print(b)
c=60-40+30*4+(3+6)
print(c)
#combinational expressions
print("combinational exp")
a=34
b=24
c=a+(b>>1)
print(c)
x=(a<<1)+(b<<1)
print(x)

31
41.0
149
combinational exp
46
116

In [69]:
a=10
b=4
a//b
a/b

2.5

In [73]:
#variables
a=10
b=20
print(a)
print(b)
print("----")
a,b,c=20,30,40
print(a)
print(b)
print(c)
print("---")
x=str(3)
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

10
20
----
20
30
40
---
3
3
3.0

# string operations

In [149]:
x=" Ammani is good girl good"
y="Sravani"
z="swami"
a="teacher123"
print(x)
print(x.upper())
print(x.lower())
print(len(x))
print(x.capitalize())
print(x.isalpha())
print(x.isdigit())
print(x.count("m"))
print(y.istitle())
print(x.partition("is"))
print(y.join(z))
print(x.replace("good","bad"))
print(x.split())
print(x.swapcase())
print(max(x))
print(min(z))
print(a.isalnum())
print(x.strip())
print(x.casefold())
print(x.encode())
print(x.find("m"))

 Ammani is good girl good
 AMMANI IS GOOD GIRL GOOD
 ammani is good girl good
25
 ammani is good girl good
False
False
2
True
(' Ammani ', 'is', ' good girl good')
sSravaniwSravaniaSravanimSravanii
 Ammani is bad girl bad
['Ammani', 'is', 'good', 'girl', 'good']
 aMMANI IS GOOD GIRL GOOD
s
a
True
Ammani is good girl good
 ammani is good girl good
b' Ammani is good girl good'
2

# list operations

In [225]:
l1=[1,2,3,4,5,3,2]
l2=[10,20,30,40,50]
print(l1)
print(len(l1))
concatenate=l1+l2
print(concatenate)
replace=l1[2]=5
print(l1)
l2.index(30)
x=l1.insert(2,10)
l1
print(l1.pop())
print(l1.pop(2))
print(max(l1))
print(min(l2))
extend=l1.extend(l2)
print(l1)
print(l1.count(5))
l1.reverse()
print(l1)
l1.append(9)
print(l1)
l1.sort()
print(l1)
l1.remove(9)
print(l1)
l2.copy()
print(l2)

[1, 2, 3, 4, 5, 3, 2]
7
[1, 2, 3, 4, 5, 3, 2, 10, 20, 30, 40, 50]
[1, 2, 5, 4, 5, 3, 2]
2
10
5
10
[1, 2, 5, 4, 5, 3, 10, 20, 30, 40, 50]
2
[50, 40, 30, 20, 10, 3, 5, 4, 5, 2, 1]
[50, 40, 30, 20, 10, 3, 5, 4, 5, 2, 1, 9]
[1, 2, 3, 4, 5, 5, 9, 10, 20, 30, 40, 50]
[1, 2, 3, 4, 5, 5, 10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [237]:
l=[1,2,3,4,5,6,7,8,9]
l[2:5]
l[:5]
l[2:]
print(l[3:3])
l[:-2]
l[0:-4]
l[-2:2]
l[:]
l[::2]
l[::3]

[]

[1, 4, 7]

In [238]:
list=[1,2,3]
sum(list)

TypeError: 'int' object is not callable