In [1]:
import pandas as pd
df=pd.read_csv("bollywood.csv")
print(df)

     SlNo Release Date                    MovieName ReleaseTime      Genre  \
0       1    18-Apr-14                     2 States          LW    Romance
1       2     4-Jan-13                 Table No. 21           N  Thriller
2       3    18-Jul-14           Amit Sahni Ki List           N     Comedy
3       4     4-Jan-13             Rajdhani Express           N     Drama
4       5     4-Jul-14                 Bobby Jasoos           N     Comedy
..    ...          ...                          ...         ...        ...
144   145    27-Feb-15           Dum Laga Ke Haisha           N     Comedy
145   146    13-Mar-15                         NH10           N   Thriller
146   147    20-Mar-15  Dilliwali Zaalim Girlfriend           N     Comedy
147   148    20-Mar-15                     Hunterrr           N     Comedy
148   149    23-May-14                Kochadaiiyaan          HS     Action

     Budget  BoxOfficeCollection  YoutubeViews  YoutubeLikes  YoutubeDislikes
0        36               104.00       8576361         26622             2527
1        10                12.00       1087320          1129              137
2        10                 4.00        572336           586               54
3         7                 0.35         42626            86               19
4        18                10.80       3113427          4512             1224
..      ...                  ...           ...           ...              ...
144      15                30.00       3250917          8185              615
145      13                32.10       5592977         15464             1513
146      32                12.00       2316047          4289              807
147       5                11.89       4674795          3706              762
148     150               120.00       4740727         13466             2649

[149 rows x 10 columns]

In [12]:
x=df.groupby(["Genre"])
print(x.groups)

{' Drama ': [3, 5, 9, 23, 25, 26, 27, 29, 33, 34, 40, 49, 55, 56, 58, 63, 69, 70, 74, 76, 81, 86, 89, 101, 102, 104, 118, 120, 127, 128, 133, 134, 135, 139, 141], 'Action': [15, 22, 35, 36, 41, 43, 48, 54, 61, 77, 78, 91, 92, 100, 107, 119, 130, 136, 138, 143, 148], 'Action ': [10, 13, 21], 'Comedy': [2, 4, 6, 7, 8, 14, 17, 18, 19, 39, 46, 47, 52, 57, 59, 60, 65, 72, 75, 79, 84, 85, 87, 95, 96, 111, 112, 115, 124, 125, 126, 129, 132, 144, 146, 147], 'Romance': [0, 11, 12, 24, 32, 37, 42, 45, 50, 64, 66, 67, 80, 82, 83, 90, 97, 105, 106, 109, 110, 122, 123, 131, 142], 'Thriller': [28, 30, 31, 38, 44, 51, 53, 62, 68, 71, 73, 88, 93, 94, 98, 99, 103, 108, 113, 114, 116, 117, 121, 137, 140, 145], 'Thriller ': [1, 16, 20]}

In [13]:
print(df.max())

SlNo                               149
Release Date                  9-May-14
MovieName              Zilla Ghaziabad
ReleaseTime                          N
Genre                        Thriller
Budget                             150
BoxOfficeCollection              735.0
YoutubeViews                  23171067
YoutubeLikes                    101275
YoutubeDislikes                  11888
dtype: object

In [56]:
x=df["Genre"].value_counts()
print(x)

Comedy       36
 Drama       35
Thriller     26
Romance      25
Action       21
Thriller      3
Action        3
Name: Genre, dtype: int64

In [86]:
y=np.array([x])
print(np.sort(y))

C:\Users\Ammani\AppData\Local\Temp/ipykernel_2940/944686175.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  y=np.array([x])

ValueError: Unable to coerce to Series, length must be 10: given 2

In [118]:
df[["Genre","ReleaseTime"]].value_counts()

Genre      ReleaseTime
 Drama     N              24
Comedy     N              23
Thriller   N              20
Romance    N              15
Action     N              12
 Drama     HS              6
Comedy     LW              5
           HS              5
Thriller   FS              4
Romance    LW              4
 Drama     FS              4
Comedy     FS              3
Action     N               3
Romance    FS              3
           HS              3
Action     LW              3
           HS              3
           FS              3
Thriller   N               2
Thriller   HS              1
           LW              1
 Drama     LW              1
Thriller   LW              1
dtype: int64

In [3]:
import pandas as pd
df=pd.read_csv("bollywood.csv")
df[df["Budget"]>=20][["Release Date","MovieName","Budget"]]

    Release Date                    MovieName  Budget
0      18-Apr-14                     2 States      36
6      19-Sep-14                Daawat-E-Ishq      30
7      11-Jan-13   Matru Ki Bijlee Ka Mandola      33
8      10-Jan-14                 Dedh Ishqiya      31
10     28-Mar-14                  Dishkiyaoon      28
..           ...                          ...     ...
141     6-Feb-15                    Shamitabh      40
142    13-Feb-15                          Roy      40
143    20-Feb-15                     Badlapur      23
146    20-Mar-15  Dilliwali Zaalim Girlfriend      32
148    23-May-14                Kochadaiiyaan     150

[80 rows x 3 columns]

In [120]:
df["Genre"].value_counts().sort_values()

Thriller      3
Action        3
Action       21
Romance      25
Thriller     26
 Drama       35
Comedy       36
Name: Genre, dtype: int64

,SlNo,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
count,149.000000,149.000000,149.000000,1.490000e+02,149.000000,149.000000
mean,75.000000,29.442953,55.667248,3.337920e+06,7877.536913,1207.818792
std,43.156691,28.237981,94.494531,3.504407e+06,12748.047191,1852.692938
min,1.000000,2.000000,0.010000,4.354000e+03,1.000000,1.000000
25%,38.000000,11.000000,8.780000,1.076591e+06,1377.000000,189.000000
50%,75.000000,21.000000,28.000000,2.375050e+06,4111.000000,614.000000
75%,112.000000,35.000000,57.450000,4.550051e+06,9100.000000,1419.000000
max,149.000000,150.000000,735.000000,2.317107e+07,101275.000000,11888.000000

In [ ]:
n=int(input("Enter numbers"))
s=0
while(n>0):
    s+=n%10
    s=n//10
print(s)

Enter numbers123

# Descriptive Analytics

In [7]:
import pandas as pd
data=pd.read_csv("game.csv")
print(data)

AttributeError: partially initialized module 'pandas' has no attribute 'core' (most likely due to a circular import)